#main-text{
    margin-top:6em;
    
    width:50vw;
    text-align: center;
    background-color: rgb(197, 195, 195);
    opacity: .5;
    color: black;border: solid black;
}

ul{
    display: flex;
    justify-content: center;
}

ul li{
    display:inline-block;
    list-style-type: none;
    text-align: center;
    margin:1em;
   
}

ul li :hover{
    color:red;
}

ul .fab{
  color: black;
}

/* ul .fab a :hover{
    color:red;
} */

#mainHeader{
    margin-bottom: .5em;
}
#target{
    background: linear-gradient(black, red);
    height:100vh;
    
}

#connectDiv a{
    color:rgb(0, 0, 0);
}
#connectDiv a :visited{
    color:rgb(0, 0, 0);
}
#connectDiv a :hover{
   color: rgb(24, 23, 23);
}

.fa-github{
    /* margin-left: 3.6em;
    margin-right: 1em; */
    margin-left: -1.5em;

}