#main-text{
    margin-top:6em;
    width:50vw;
    text-align: center;
    background-color: rgb(197, 195, 195);
    opacity: .5;
    color: black;border: solid black;
}

li{
    list-style-type: none;
    text-align: center;
}
#mainHeader{
    margin-bottom: .5em;
}
#target{
    background: linear-gradient(black, red);
    height:100vh;
}

#connectDiv a{
    color:rgb(0, 0, 0);
}
#connectDiv a :visited{
    color:rgb(0, 0, 0);
}
#connectDiv a :hover{
   color: rgb(24, 23, 23);
}

.fa-github{
    margin-left: 3.6em;
    margin-right: 1em;
}