*{

    font-family: serif;
}


#profilePic{
    border-radius: 120px;
    border: solid black;
    margin-top:1em;
    width:15em;
}

#main-text{
    margin-top:6em;
    padding-top: 40px;
    padding-bottom: 0px;
    width:50vw;
    text-align: center;
    background-color: rgb(197, 195, 195);
    opacity: .9;
    color: black;border: solid black;
}
